* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    overflow-x: hidden;
  }

.container {
    display:flex;
    justify-content: center;
    padding-top: 2rem;
  }

  h1 {
    margin: 0;
    font-size: 6rem;
  }

  
  .h2 {
    font-weight: 700;
  }

  #acaralate {
    font-size: 6rem;
    transform: translateY(-0.5rem);
    font-weight: 700;
  }

  #trademark {
    font-size: xx-large;
    font-weight: 800;
    transform: translateY(-1.75rem);
    margin-left: -1rem;
  }

  #twoe {
    align-self: flex-start;
    margin: 0;
    margin-left: 4rem;
    padding: 0;
    font-size: 5rem;
    transform: translateY(0.75rem);
  }

  #miticide {
    font-weight: 900;
    font-size: 1.5rem;
  }

  #onegallon {
    font-weight: 900;
    font-size: 1.2rem;
    margin-bottom: 0.25rem;
  }
  #caution {
    font-weight: 900;
    font-size: 1.2rem;
    margin-bottom: 0.25rem;
  }
  
  hr {
    margin: 0px;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: repeat(8, minmax(150px, 1fr));
    grid-row-gap: 0.7rem;
    grid-column-gap: 0.7rem;
    grid-auto-rows: 6rem auto;
  }
  
  .content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 1;
    margin-left: 9.5rem;
  }
  
  .content>div {
    margin-right: 0;
    padding-left: 0.5rem;
    font-size: 0.75rem;
    font-weight: 800;
    letter-spacing: -0.01rem;
    line-height: 1rem
  }

  .wrapper>div {
    padding: 1em;
  }

  /*    
  * Row 1 
  ------------*/
  
  .row1 {
    grid-column: 2 / span 4;
    display:flex;
  }

  /*    
  * Row 2 
  ------------*/

  .row2 {
    background-color: rgb(1, 141, 203);
    grid-column: span 8;
    grid-row: span 6;
  }

    

  #row2--col1--block2 {
    margin-top: 13.75rem;
  }
  
  #row2--col2--block1 {
    margin-top: 19rem;
  }

  #row2--col3--block2 {
    margin-top: 18rem;
  }

  .subtitle {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 13%;
    margin-top: 2rem;
  }
  

  /*    
  * Row 3
  ------------*/
  
  
  .row3--col1 {
    margin-right: 0.7rem;
    grid-column: span 2;
    grid-row: span 4;
    background-color: rgb(189, 187, 188);
    padding: 0 !important;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .row3--col2 {
    grid-column: span 2;
    grid-row: span 4;
    background-color: rgb(208, 209, 214);
    padding: 0 !important;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .row3--col3 {
    grid-column: span 4;
    grid-row: span 4;
    background-color: rgb(252, 226, 5);
    padding: 0 !important;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /*    
  * Mediaqueries
  ------------*/

  @media only screen and (max-width: 1300px) {

    .wrapper {
        grid-template-columns: repeat(8, minmax(150px, 1fr));
      }
    
    .container {
        padding-left: 10rem;
    }
    .row1 {
        grid-column: span 4;
    }

    .row2 {
        background-color: rgb(1, 141, 203);
        grid-column: 1 / span 4;
        grid-row: span 6;
      }
    
    .row3--col1 {
        margin-right: 0;
        grid-column: span 1;
        grid-row: span 2;    
    }


    .row3--col2 {
        grid-column: span 1;
        grid-row: span 2;
    }

    .row3--col3 {
        grid-column: span 3;
        grid-row: span 4;
    }

    .content {
        margin-left: 1rem;
      }
    .subtitle{
        margin-left: 1rem;
    }

    #twoe {
        margin-left: 2rem;
      }

  }

  @media only screen and (max-width: 1125px) {
    .container {
        padding-left: 20rem;
    }

    .row1 {
        grid-column: span 3;
    }

    .row2 {
        background-color: rgb(1, 141, 203);
        grid-column: 1 / span 3;
        grid-row: span 6;
      }

    .row3--col3 {
        grid-column: 4 / span 3;
        grid-row: 4 / span 4;
    }
  }

  @media only screen and (max-width: 980px) {
    .wrapper {
        grid-template-columns: repeat(6, minmax(150px, 1fr));
      }
    .container {
        padding-left:10rem;
    }

    .row3--col3 {
        grid-column: 4 / span 2;
        grid-row: 4 / span 2;
    }
  }


  @media only screen and (max-width: 800px) {

    .container {
        padding-left:20rem;
    }

    .content {
        margin-left:0;
    }

    .subtitle {
        margin-left: 0;
    }

    .row3--col2 {
        grid-column: 4 /span 1;
        grid-row: 4 /span 2;
    }

    .row3--col3 {
        grid-column: 4 / span 1;
        grid-row: 6 / span 2;
    }
  }

  @media only screen and (max-width: 635px) {
    .wrapper {
        grid-template-columns: repeat(5, minmax(150px, 1fr));
    }
    .container {
        padding-left:10rem;
    }
    .row3--col1 {
        margin-right: 0;
        grid-column: span 1;
        grid-row: 8 / span 2;
    }
    .row3--col2 {
        grid-column: 1 /span 1;
        grid-row: 8 /span 2;
    }
    .row3--col3 {
        grid-column: 1 / span 3;
        grid-row: 10 / span 4;
    }
  }
  
  @media only screen and (max-width: 520px) {
    .wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .container {
<<<<<<< HEAD
        padding-left:10rem;
    }

    

    
  }

  @media only screen and (max-width: 472px) {

    .container {
        padding-left:13rem;
    }
  }

  
  @media only screen and (max-width: 415px) {

    .container {
        padding-left:16rem;
    }
  }

=======
        width: 100vw;
        padding-top: 2rem;
        padding-left: 0;
    }

    h1 {
      font-size: 4rem;
    }

    #acaralate {
      font-size: 4.5rem;
      transform: translateY(1.3rem);
    }

    #trademark {
      font-size: xx-large;
      font-weight: 800;
      transform: translateY(-1.0rem);
      margin-left: -1rem;
    }

    #twoe {
      font-size: 4rem;
      margin-left: 1rem;  
      transform: translateY(0.25rem)
    }


    .row1 {
      grid-column: span 4;
    }
    .row2 {
      grid-column: 1 / span 4;
    }

    .row3--col1 {
      grid-column: 1 / span 2;
    }

    .row3--col2 {
      grid-column: 3 / span 2
    }

    .row3--col3 {
      grid-column: 1 / span 4;
    }


  }


>>>>>>> master




